<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>	深圳市沙头角商业外贸有限公司</title>
<link type="text/css" rel="stylesheet" href="/view/fxq1/css/default.css" >
<link type="text/css" rel="stylesheet" href="/view/fxq1/css/banner.css" >
<script type="text/javascript" src="/view/fxq1/js/dropdown.js"></script>

<style>
.right{ overflow:hidden;}
</style>
<script type="text/javascript" src="/view/fxq1/js/common.js"></script>
</head>

<body>

	<div class="header">
    	<div class="wrapper">
          <div style="height:68px; overflow:hidden;">
            <span class="func"><a href="#" onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://www.shashangmao.com/');">设为首页</a>&nbsp;&nbsp;&nbsp;
			<a href="" onclick="window.external.addFavorite(this.href,this.title);return false;" title="深圳市沙头角商业外贸有限公司" rel="sidebar" id="sidebar">加入收藏</a>
			&nbsp;&nbsp;<a href="http://www.shashang.net/register.aspx">注册</a>&nbsp;&nbsp;<a href="http://www.shashang.net/login.aspx">登录</a>
			</span>
			<a href="http://www.shashang.net/index.aspx"><img src="/view/fxq1/images/logo.jpg" width="373" height="66"></a>
          </div> 
 
    <div id="navMenu" class="pnav">
    <div class="sear" style="background:url(/view/fxq1/images/searbg.jpg) no-repeat 0 3px;">
   	    <script language="javascript" type="text/javascript">
			function search_OnSubmit(){
				var KeyWord=get("KeyWord").value;
				if(KeyWord<=1){alert("请输入关键字");return false;}
			}
		</script>
<form style="margin:0px;padding:0px;" action="/search.aspx" method="get" onsubmit="javascript:return search_OnSubmit(this);">
  <input style="background:none; float:left;" class="seartext" name="KeyWord" id="KeyWord" value="请输入关键字" onfocus="if (this.value=='请输入关键字') this.value='';" type="text"><input value="" class="searbutton" style="background:none; float:left;" type="submit">
</form>
      </div><!--sear-->
        <ul>
          <li><a href="index.html" class="hhtitle">&nbsp;</a></li>
          <li><a href="about.html" rel="dropmenu1" class="hatitle">&nbsp;</a></li>
          <li><a href="" rel="dropmenu2" class="hntitle">&nbsp;</a></li>
          <li><a href="product.html" rel="dropmenu3" class="hptitle">&nbsp;</a></li>
          <li><a href="" rel="dropmenu4" class="hjtitle">&nbsp;</a></li>
          <li><a href="" rel="dropmenu5" class="hctitle">&nbsp;</a></li>
          
        </ul>
        </div><!--navMenu-->
        <ul class="dropMenu" id="dropmenu1">  
              <li><a href="http://www.shashang.net/about.aspx?BaseinfoCateid=8&amp;CateID=8&amp;CurrCateID=8">董事长致辞</a></li>                                                                  
              <li><a href="http://www.shashang.net/about.aspx?BaseinfoCateid=12&amp;CateID=12&amp;CurrCateID=12">公司简介</a></li>                                                                  
              <li><a href="http://www.shashang.net/about.aspx?BaseinfoCateid=10&amp;CateID=10&amp;CurrCateID=10">组织结构</a></li>                                                                  
              <li><a href="http://www.shashang.net/about.aspx?BaseinfoCateid=9&amp;CateID=9&amp;CurrCateID=9">企业文化</a></li>                                                                  
              <li><a href="http://www.shashang.net/honor.aspx?BaseinfoCateid=11&amp;CateID=11&amp;CurrCateID=11">荣誉资质</a></li>                                                                  
              <li><a href="http://www.shashang.net/about.aspx?BaseinfoCateid=27&amp;CateID=27&amp;CurrCateID=27">品牌合作</a></li>                                                                  
              <li><a href="http://www.shashang.net/about.aspx?BaseinfoCateid=28&amp;CateID=28&amp;CurrCateID=28">视频</a></li>                                            
		</ul>
        <ul class="dropMenu" id="dropmenu2">  
			<li><a href="http://www.shashang.net/news.aspx?newsCateID=18&amp;CateID=18">公司新闻</a></li>
			<li><a href="http://www.shashang.net/news.aspx?newsCateID=19&amp;CateID=19">专题报道</a></li>
			<li><a href="http://www.shashang.net/news.aspx?newsCateID=20&amp;CateID=20">媒体资料</a></li>
			<li><a href="http://www.shashang.net/news.aspx?newsCateID=29&amp;CateID=29">视频</a></li>
		</ul>
        <ul class="dropMenu" id="dropmenu3"> 
    	<li><a href="http://www.shashang.net/probase.aspx?ProductsCateID=14&amp;CateID=14%20&amp;CurrCateID=14">商业贸易</a></li>    
    	<li><a href="http://www.shashang.net/probase.aspx?ProductsCateID=35&amp;CateID=35%20&amp;CurrCateID=35">进出口贸易</a></li>    
    	<li><a href="http://www.shashang.net/probase.aspx?ProductsCateID=36&amp;CateID=36%20&amp;CurrCateID=36">物业经营</a></li>    
    	<li><a href="http://www.shashang.net/probase.aspx?ProductsCateID=40&amp;CateID=40%20&amp;CurrCateID=40">商品展示</a></li>    
    	<li><a href="http://www.shashang.net/probase.aspx?ProductsCateID=42&amp;CateID=42%20&amp;CurrCateID=42">自营进出口</a></li>    
    	<li><a href="http://www.shashang.net/probase.aspx?ProductsCateID=43&amp;CateID=43%20&amp;CurrCateID=43">进出口代理</a></li>    
    	<li><a href="http://www.shashang.net/probase.aspx?ProductsCateID=44&amp;CateID=44%20&amp;CurrCateID=44">商品展示</a></li>    
    	<li><a href="http://www.shashang.net/probase.aspx?ProductsCateID=45&amp;CateID=45%20&amp;CurrCateID=45">团购服务</a></li>    
    	<li><a href="http://www.shashang.net/probase.aspx?ProductsCateID=46&amp;CateID=46%20&amp;CurrCateID=46">展销服务中心</a></li>    
    	<li><a href="http://www.shashang.net/probase.aspx?ProductsCateID=47&amp;CateID=47%20&amp;CurrCateID=47">茅台专卖店</a></li>
		</ul>
        <ul class="dropMenu" id="dropmenu4">  
			<li><a href="http://www.shashang.net/join.aspx">员工培训</a></li>
        <li><a href="http://www.shashang.net/job.aspx">职位招聘</a></li>
		</ul>
        <ul class="dropMenu" id="dropmenu5">  
			<li><a href="http://www.shashang.net/contact.aspx?BaseinfoCateid=25&amp;CateID=25&amp;CurrCateID=25">联系方式</a></li>                                            
            <li><a href="http://www.shashang.net/guestbooks.aspx">在线留言</a></li>
		</ul>
        
		<script type="text/javascript">cssdropdown.startchrome("navMenu")</script>  


        </div><!--wrapper-->
    </div><!--header-->
    <div class="banner">
      <div class="bandeauDiaporama">
	<div class="diapo" id="box5" style="position: relative; ">
	     
    <h2 class="img" style="width: 100%; height: 100%; background-image: url(/view/fxq1/images/banner1-17442020107.jpg); position: absolute; top: 0px; left: 0px; z-index: 7; visibility: visible; opacity: 0.966036;">    
    <a href="http://www.shashang.net/about.aspx?BaseinfoCateid=12&amp;CateID=12&amp;CurrCateID=12"></a>
    </h2>            
 
      
        <h2 class="img" style="width: 100%; height: 100%; background-image: url('/view/fxq1/images/guoqing.jpg'); position: absolute; top: 0px; left: 0px; z-index: 5; visibility: hidden; opacity: 0;">    
        <a href="http://www.shashang.net/news.aspx?newsCateID=64&amp;CateID=64&amp;CurrCateID=19"></a>
        </h2>            

             
        <h2 class="img" style="width: 100%; height: 100%; background-image: url('/view/fxq1/images/banner3-17442170903.jpg'); position: absolute; top: 0px; left: 0px; z-index: 6; visibility: visible; opacity: 1;">    
        <a href="http://www.shashang.net/about.aspx?BaseinfoCateid=12&amp;CateID=12&amp;CurrCateID=12"></a>
        </h2>            
	    
            	    
	<div class="nav" id="slider_buttons"><div><a class="active"></a><a class=""></a><a class=""></a></div></div></div>
        </div>
<script type="text/javascript" src="/view/fxq1/js/load.js"></script>

<script type="text/javascript">     
new BandeauDiaporama($("box5"));
</script>
</div><!--banner-->
 
<div class="main" style="background-color:#dcdcdc;">
  <div class="wrapper" style="padding:15px 0;">
    <div class="tdao">
  <ul class="hlist">
        	<li><a href="http://www.shashang.net/probase.aspx?ProductsCateID=46&amp;CateID=46&amp;CurrCateID=14">烟酒展销服务中心</a></li>
            <li><a href="http://www.shashang.net/probase.aspx?ProductsCateID=47&amp;CateID=47&amp;CurrCateID=14">茅台专卖店</a></li>
            <li><a href="http://www.shashang.net/probase.aspx?ProductsCateID=57&amp;CateID=57&amp;CurrCateID=14">沙商酒庄</a></li>
            <li><a href="http://www.shashang.net/probase.aspx?ProductsCateID=61&amp;CateID=61&amp;CurrCateID=50">中英街酒堡</a></li>
            <li><a href="http://www.shashang.net/probase.aspx?ProductsCateID=60&amp;CateID=60&amp;CurrCateID=50">中英街商场</a></li>
            <li><a href="http://www.shashang.net/probase.aspx?ProductsCateID=62&amp;CateID=62&amp;CurrCateID=49">一品阁商务会所</a></li>
        </ul>
    </div><!--tdao-->
    <div class="hnews">
    	<h3 class="htitle"><a href="http://www.shashang.net/news.aspx"><img src="/view/fxq1/images/more.jpg" width="39" height="13"></a></h3>
        
         
        <a href="http://www.shashang.net/newsde.aspx?newsCateID=18&amp;CateID=18&amp;NewsID=302" class="hpic"><img src="/view/fxq1/images/20160516-14454646564.jpg" width="224" height="137"></a>            
 
      <ul class="hnlist">
                  <li><a href="http://www.shashang.net/newsde.aspx?newsCateID=18&amp;CateID=18&amp;NewsID=317">公司举办法律知识讲座</a></li>
					<li><a href="http://www.shashang.net/newsde.aspx?newsCateID=18&amp;CateID=18&amp;NewsID=318">公司开展消防安全知识培训</a></li>
					<li><a href="http://www.shashang.net/newsde.aspx?newsCateID=18&amp;CateID=18&amp;NewsID=319">北山公司顺利获批物业管理二级资信</a></li>
					 <li><a href="http://www.shashang.net/newsde.aspx?newsCateID=18&amp;CateID=18&amp;NewsID=320">盐田区副区长莫熙玲到公司调研走访</a></li>
					<li><a href="http://www.shashang.net/newsde.aspx?newsCateID=18&amp;CateID=18&amp;NewsID=316">公司组织员工参加第37届长跑日活动</a></li>                    
 
            </ul>     
        <!--<div class="hlogin"><img src="images/mail.jpg" width="96" height="28" align="absmiddle" />&nbsp;
        	&nbsp;用户名：<input type="text" class="mytext" />
            &nbsp;密码：<input type="password" class="mytext" />
            &nbsp;&nbsp;&nbsp;<input type="submit" class="button" value="登录" />
        </div>-->
    </div><!--hnews-->
    <div class="hc">
    	<h3 class="htitle"><a href="http://www.shashang.net/honor.aspx"><img src="/view/fxq1/images/more.jpg" width="39" height="13"></a></h3>
         <ul class="hnlist">
 
           <li><a href="http://www.shashang.net/honor.aspx">广东省诚信示范企业 </a></li>                
           <li><a href="http://www.shashang.net/honor.aspx">深圳市先进集体 </a></li>                
           <li><a href="http://www.shashang.net/honor.aspx">全国酒类优秀营销商 </a></li>     
  

            </ul>  
    </div><!--hc-->
  

<div class="footer">
	<div class="f1"><span>版权所有 © 2012 深圳市沙头角商业外贸有限公司 粤ICP备10000007号.</span> 
    
    <select onchange="javascript:location.href=this.value;">
        <option selected="selected">&nbsp;友情链接&nbsp;</option>
        
  <option value="http://stjjl.tmall.com">沙头角酒类专营店</option>  <option value="http://www.lzlj.com/">泸州老窖集团有限责任公司</option>  
  <option value="http://www.wuliangye.com.cn/pages/">五粮液集团有限公司</option>  <option value="http://www.moutaichina.com/">贵州茅台酒股份有限公司</option>


    	
       
    </select></div>
  
</div>  
  </div><!--wrapper-->
</div><!--main-->




  </body></html>